<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="homeMapper">
	<!--메인 페이지 검색 -->
	<select id="mainSearch" resultType="SearchDTO" parameterType="map">
		select * from (select row_number() over (order by modifiedtime desc) 순위,
		contentid, firstimage2, title, addr1, readcount, modifiedtime from 
		(select contentid, firstimage2, title, addr1, readcount, modifiedtime from data 
		full outer join festivaldata using(contentid, firstimage2, title, addr1, readcount, modifiedtime) 
		full outer join leportsdata using(contentid, firstimage2, title, addr1, readcount, modifiedtime) 
		where title like '%' || #{main_search} || '%' or addr1 like '%' || #{main_search} || '%'))
		where 순위 between #{startRange} and #{endRange}
	</select>
	
	<!-- 검색 결과 데이터 수 -->
	<select id="countAll" resultType="int">
		select count(*) from data full outer join festivaldata using (contentid, firstimage2, title, addr1, readcount, modifiedtime) 
		full outer join leportsdata using (contentid, firstimage2, title, addr1, readcount, modifiedtime) 
		where title like '%' || #{main_search} || '%' or 
		addr1 like '%' || #{main_search} || '%'
	</select>

	<!-- Top 관광지 리스트 -->
	<select id="getDataList" resultType="DataDTO">
		select * from (select row_number() over (order by readcount desc) 순위,
		a. * from data a) where 순위 between 1 and 5
	</select>
	
	<!-- Top 축제 리스트 -->
	<select id="getFestivalList" resultType="FestivalDTO">
		select * from (select row_number() over (order by readcount desc) 순위,
		a. * from festivaldata a) where 순위 between 1 and 5
	</select>
	
	<!-- 최신순 관광지 리스트 -->
	<select id="getModifiedtimeDataList" resultType="DataDTO">
		select * from (select row_number() over (order by modifiedtime desc) 순위,
		a. * from data a) where 순위 between 1 and 5
	</select>
	
	<!-- 최신순 축제 리스트 -->
	<select id="getModifiedtimeFestivalList" resultType="FestivalDTO">
		select * from (select row_number() over (order by modifiedtime desc) 순위,
		a. * from festivaldata a) where 순위 between 1 and 5
	</select>
	
	<!-- 캐러셀 레포츠 리스트 -->
	<select id="getCarouselLeports" resultType="LeportsDTO">
		select * from (select row_number() over (order by readcount desc) 순위,
		a. * from leportsdata a) where 순위 between 1 and 10
	</select>
	
	<!-- select 지역별 레포츠 -->
	<select id="getAreaLeports" resultType="LeportsDTO">
		select * from (select row_number() over (order by readcount desc) 순위,
		a. * from leportsdata 
		<trim prefix="a">
			<if test="areaType != 'all'">
				where addr1 like '%' || #{areaType} || '%') where 순위 between 1 and 10 
			</if>
			
			<if test="areaType == 'all'">
				) where 순위 between 1 and 10 and contentid is not null
			</if>
		</trim>
	</select>
</mapper>